.img-fluid{
    top: 0px;
    width: 300vw;
    height: 110vh;
    
}

.nav-link:hover{
    color: #0D6B68;
}
.nav-link{
    color: black;
}
.nav-link:active{
    color: #0D6B68;
}

.bg-light {
    --bs-bg-opacity: 1;
    background-color: rgb(230 240 239) !important;
}

.push-right{
    display: flex;
    margin-left: 560px;
    font-size: large;
}

.services{
    padding-right: 61px;
}

.our-team, .feature{
    padding-right: 30px;
}

.dropdown-item:hover{
    background-color: #0D6B68;
    color: white;
}

.dropdown-menu{
    border: none;
}

.hero-items{
    position: absolute;
    top: 42%;
    right: 54%;
    width: 600px;
    font-size: 5em;
    line-height: 100px;
}

.home-span{
    color:#0D6B68;
}

.hero-bg{
    max-height: 10px;/*note: need to work on this*/
    overflow-y: hidden;/*look into it*/
}

.box-text{
    padding: 10px;
    border:2px solid white;
    position: absolute;
    top: 75%;
    right: 66%;
    font-size: 20px;
    width: 400px;
    text-align: center;
}

.carousel-indicators{
    display: flex !important;
    flex-direction: column;
    position: absolute !important;
    align-items: flex-end;
    justify-content: flex-end;
    right: 0 !important;
    bottom: auto !important;
    margin-right: -55px;
    top: 150px !important;
}

.box-index{
    position: absolute;
    z-index: 0;
    width: 350px;
    height: 480px;
    top: 190px;
    right: 120px;
    background-color: #0D6B68;
}

.hero-carousel{
    position: absolute;
    z-index: 1;
    top: -620px;
    right: -580px; 
    transition-duration: 300ms;
    transition-delay: 30ms;  
}

.hero-carousel img{
    width: 550px;
    height: 400px;
    object-fit: cover;
}    

.c-items{
    width: 550px;
    height: 400px;
}    
    
.icon-text{
    position: absolute;
    top: 740px;
    right: 18%;
    font-size: 20px;
    gap: 55px;
    display: flex;
    flex-wrap: nowrap;
}


.robot-icon{
    width: 35px;
    height: 35px;
    padding: 5px;
    margin: 15px;
    border: 2px solid white !important; 
}

.about-text-box{
    
    align-items: center;
    justify-content: center;
    text-align: center; 
    color:white;
    padding: 25px;
    height: 100px;
    background-color: #0D6B68;
}


/* was a problem, need to understand deeply*/
.img1 img{
    height: 450px;
    width: 100%;
}

.card-img-top{
    height: 350px;
}

.social-icons{
    width: 15px;
    height: 15px;  
}

.check-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px 5px;
}

.check{
    display: flex;
    width: 15px;
    height: 15px; 
    gap: 10px;
}

.check-item{
    display: flex;
    align-items: center;
    
}

.button-section{
    gap: 10px;
}

.btn-read{
    text-decoration: none;
    border-radius: 0%;
    border: 2px solid #0D6B68;
    background-color: #0D6B68;
    color: white;
    
}
.btn-read:hover{
    
    border: 2px solid #0f5855;
    background-color: #0f5855;
    color: white;
    
}

.btn-icon{
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid #0D6B68; 
    border-radius: 0%;
}

.btn-icon:hover{
   
    background-color:#0D6B68;
}

.history{
    color:#0D6B68;
    background-color:#deefeb;
}




.feature-head{
    text-align: center;
}

.feature-icons{
    display: flex;
    width: 100px;
    height: 100px;
    padding: 10px;
    gap: 20px;
    justify-content: center;
    margin: 0 auto;
}

.feature-align{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}





.project-container{
    display: flex;
    
}

.projects-head{
    display: flex;
    background-color: #0D6B68;
    width: 496px;
    height: 501px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}

.projects-head p{
    font-size: 30px;
    padding-top: 30px;
    
}

.projects-grid{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    gap: 0px;
    overflow: hidden;
}

.projects-grid img{
    width: 100%;
    height: 250px;
    padding: 0px !important;
    gap: 0;
    transition: transform 0.3s ease-in-out;  
}

.overlay-text{
    position: absolute;
    text-decoration: none;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 175px; 
    background: linear-gradient(transparent, #0e2f2e);
    width: 252px; 
       
}
.overlay-text a{
    
     
}

.large{
    font-size: 70px;
}

.hover-projects:hover{
    transform: scale(1.1, 1.1);
    
}  




.footer-section{
    background-color: #051818;
    
}

.all-links{
    display: flex;
    flex-direction: column;
}

.footer-links{
    text-decoration: none;
    padding: 5px;
    font-size: 15px;
}

.footer-links:hover{
    transform: scale(1.02, 1.02);
    translate: 4px 0px;
    color: white !important;
}

hr{
    border: 1px solid white;
}